h1 {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: black;
}

#header {
    margin-bottom: 20px;
    margin-top: 15px;
}

#ipt_hqId {
    width: 150px;
    border: 1px solid gray;
    color: black;
    font-weight: bold;
}

#btn_query {
    color: green;
    margin-left: 100px;
}

#b_size {
    float: right;
    margin-right: 150px;
}
