#context_body{
    text-align: center;
}

#context_left {
    padding-top: 5px;
    margin-top: 25px;
    float: left;
    width: 20%;
    height: 600px;
    border: 1px solid red;
}

#context_left a {
    margin-left: 10px;
    margin-right: 20px;
}

.icon_left {
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.icon_right {
    width: 12px;
    height: 12px;
    cursor: pointer;
}

#context_right {
    padding-top: 5px;
    margin-top: 25px;
    float: left;
    margin-left: 150px;
    width: 60%;
    height: 600px;
    border: 1px solid red;
}
