<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KDS监控台</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div style="margin: auto; width: 80%">
    <h1>KDS监控台</h1>
    <div id="navigation">
        <input id="ipt_hqId" type="text" placeholder="品牌id">
        <button id="btn_query" onclick="scheduleQuery()">查询</button>
        <b id="b_size">size:</b>
    </div>
    <table id="table" class="table table-bordered">
        <tr id="head">
            <th>品牌</th>
            <th>门店</th>
            <th>kds标识</th>
            <th>kds版本号</th>
            <th>最后心跳时间</th>
            <th>小程序排队订单数</th>
            <th>kds未完成订单数</th>
        </tr>
    </table>
</div>

</body>
<script>
    var head = $("#head");
    var def_hqId = 2439;
    var ipt_hqId;
    var query_hqId;
    var t;
    $(document).ready(function () {
        query_hqId = def_hqId;
        getKdsInfo();
        t = setInterval("getKdsInfo()", 10000);
    });

    var scheduleQuery = function () {
        ipt_hqId = $("#ipt_hqId").val();
        console.log("ipt_hqId " + ipt_hqId);
        if (!checkIsNumber(ipt_hqId)) {
            return;
        }
        query_hqId = ipt_hqId;
        getKdsInfo();
        if (t != null) {
            clearInterval(t);
        }
        t = setInterval("getKdsInfo()", 10000);
    };

    var checkIsNumber = function (input) {
        var patrn = /^(-)?\d+(\.\d+)?$/;
        if (patrn.exec(input) == null || input === "") {
            alert("请输入数字");
            return false;
        } else {
            console.log("输入是数字");
            return true;
        }
    };

    var getKdsInfo = function () {
        console.log("query_hqId " + query_hqId);
        $.ajax({
            url: "http://lab2.51hchc.com:7676/kdsConsole/errKdsInfo",
            type: "GET",
            contentType: "application/json; charset=UTF-8",
            data: {"hqId": query_hqId, "branchId": 0},
            dataType: "json",
            success: function (response) {
                console.log(response);
                var kdsInfoList = response.data;
                if (kdsInfoList != null) {
                    var trData = '';
                    var kdsInfo;
                    var outLine;
                    for (var e in kdsInfoList) {
                        kdsInfo = kdsInfoList[e];
                        outLine = kdsInfo.outLine;
                        trData += '<tr class="rowInfo">\n' +
                            '<td>' + kdsInfo.brandName + '</td>\n' +
                            '<td>' + kdsInfo.branchName + '</td>\n' +
                            '<td>' + kdsInfo.uuid + '</td>\n' +
                            '<td>' + kdsInfo.vsion + '</td>\n' +
                            '<td>' + kdsInfo.heatTime + '</td>\n' +
                            '<td>' + kdsInfo.wxCount + '</td>\n' +
                            '<td>' + kdsInfo.kdsCount + '</td>\n' +
                            '</tr>';
                    }
                    head.nextAll().remove();
                    head.after(trData);
                }
            }
        });
    }
</script>

</html>