<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>商场对接</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/css/mall.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
</head>

<body onload="loadDataAfterInit()">
<!--head-->
<h1>商场对接</h1>
<div id="context">
    <!--搜索栏-->
    <div id="search">
        <div id="city_list" class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                所在城市
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink"></div>
        </div>
        <b id="err_size" class="font_space">size:</b>
    </div>
    <!--table-->
    <table class="table">
        <thead class="thead-dark">
        <tr id="head">
            <th>商场名</th>
            <th>所在城市</th>
            <th>对接方式</th>
            <th>上传方式</th>
        </tr>
        </thead>
        <tbody id="t_body"></tbody>
    </table>

    <!--加载中-->
    <div id="loading" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>

    <!--提示框-->
    <div id="tips" class="alert alert-warning">
        <h5 id="tips_head"></h5>
        <div id="tips_hr"></div>
        <p id="tips_msg"></p>
    </div>

</div>

</body>
<script>
    const tBody = $("#t_body");
    const tips = $("#tips");
    const tips_head = $("#tips_head");
    const tips_msg = $("#tips_msg");
    const errSize = $("#err_size");
    const cityList = $("#dropdown-menu");
    const loading = $("#loading");

    //初始化后加载数据
    var loadDataAfterInit = function () {
        queryMallInfo();
    };

    //异步查询数据
    var queryMallInfo = function () {
        console.log("queryMallInfo ");
        $.ajax({
            url: "http://lab2.51hchc.com:7676/mallConsole/mallInfos",
            type: "GET",
            contentType: "application/json; charset=UTF-8",
            data: {},
            dataType: "json",
            success: function (resp) {
                console.log("suc resp : " + resp);
                if (resp.code === "0") {
                    var mallData = resp.data;
                    if (mallData != null) {
                        var cities = mallData.cities;
                        var malls = mallData.malls;
                        if (cities.length === 0) {
                            loading.hide();
                            showTips("查询成功", "没有数据！！！", 2000);
                        } else {
                            var htmlStr = '';
                            for (var i in cities) {
                                htmlStr += '<a class="dropdown-item">' + cities[i] + '</a>'
                            }
                            cityList.append(htmlStr);
                            htmlStr = '';
                            var mall;
                            for (var e in malls) {
                                mall = malls[e];
                                htmlStr += '<tr>\n'+
                                    '<td>' + mall.name + '</td>\n' +
                                    '<td>' + mall.city + '</td>\n' +
                                    '<td>' + mall.pushType + '</td>\n' +
                                    '<td>' + mall.pushMethod + '</td>\n' +
                                    '</tr>';
                            }
                            loading.hide();
                            tBody.empty();
                            tBody.append(htmlStr);
                            showTips("查询成功", "", 1000);
                        }
                        errSize.text("size :  " + kdsInfoList.length);
                    }
                } else {
                    loading.hide();
                    showTips("查询失败", resp.message, 2000);
                }

            },
            error: function (resp) {
                console.log("error resp : " + resp);
                loading.hide();
                showTips("查询失败", resp.data, 2000);
            }
        });
    };

    //提示信息
    var showTips = function (head, msg, time) {
        tips_head.text(head);
        tips_msg.text(msg);
        tips.show();
        tips.fadeOut(time);
    }

</script>

</html>